<app-card class="row mb-4 form-group" [title]="'Login'">
  <form [formGroup]="formLogin">
    <div class="row">
      <div class="col">
        <app-input label="email" formControlName="email" />
      </div>

      <div class="col">
        <app-input label="password" formControlName="password" />
      </div>
    </div>

    <app-button (click)="login()" type="submit" class="btn-primary m-2"
      >Logar</app-button
    >
  </form>
</app-card>

<app-card class="row" [title]="'Register'">
  <form [formGroup]="formRegister">
    <div class="row">
      <div class="col">
        <app-input label="email" formControlName="email" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-input label="fullName" formControlName="fullName" />
      </div>
    </div>

    <app-input label="password" formControlName="password" />

    <app-button (onClick)="register()">Registrar usuario</app-button>
  </form>
</app-card>
