<div class="bg-dark w-100">
  <div class="d-flex flex-column align-items-sm-start text-white min-vh-100">
    <a
      routerLink="/"
      class="d-flex pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
    >
    </a>
    <ul class="nav nav-pills flex-column m-0 p-0 align-items-sm-start">
      <li class="nav-item nav-link align-middle px-0 m-0">
        <app-button (onClick)="moveToPage('/test')">Test</app-button>
      </li>

      <li class="nav-item nav-link align-middle px-0 m-0">
        <app-button (onClick)="moveToPage('/produto')">Produto</app-button>
      </li>

      <li class="nav-item nav-link align-middle px-0 m-0">
        <app-button (onClick)="moveToPage('/loja')">Loja</app-button>
      </li>
      <li class="nav-item nav-link align-middle px-0 m-0">
        <app-button (onClick)="moveToPage('/venda')">Venda</app-button>
      </li>
    </ul>
    <hr />
  </div>
</div>
